@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");
@import url("./styles/topics.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");

:root {
  --background-body: #ebecee;
  --background-white: #ffffff;
  --color-title: #eb9b00;
  --blue-gradient: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  --main-font: "Poppins";
  --blue: #002f52;
  --secondary-font: "Josefin Sans";
  --black: #000000;
  --gray: #474646;
  --gray-claro: #858585;
}
body {
  background-color: var(--background-body);
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
}
