.carrossel--title {
  color: var(--color-title);
  background-color: var(--background-white);
  text-align: center;
  text-transform: uppercase;

  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}
.swiper-slide img {
  width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}
.card--description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;

}
.card--buttons {
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
}
.card {
  background: var(--background-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}
.description--title {
  color: var(--color-title);
  font-weight: 700;
}
.description--title-book {
  color: var(--blue);
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}
.description--text {
  font-size: 14px;
}
.buttons--item {
  margin: 0 0.5em;
}
.buttons--knowmore {
  background-color: var(--color-title);
  padding: 1em 2.2em;
  color: var(--background-white);
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 1024px){
  .carrossel--title {
    font-size: 26px;
  }
  .swiper-pagination {
    margin: 2em 0 3em 0;
  }
  .swiper {
    width: 60%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
  }

  .card {
    width: 40%;
    margin: 2em auto;
  }
 }
 @media screen and (min-width: 1728px){
  .carrosel--container {
     display: flex;
     margin: 0 20vw 3em 30vw;
     align-items: center;
  }
  .swiper-pagination {
    margin: 1em 0;
  }
  .swiper {
    width: 50%;
  }
  .description--title {
    font-size: 32px;
  }
  .description--text {
    font-size: 16px;
  }
  .description {
    margin-right: 2em;
  }
  .card {
    width: 60%;
    margin-left: 3em;
  }
 }
